USE [master]
GO
/****** Object:  Database [EcoEventHCMUNRE]    Script Date: 12/4/2025 9:11:07 AM ******/
CREATE DATABASE [EcoEventHCMUNRE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EcoEventHCMUNRE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.TUNHIHP\MSSQL\DATA\EcoEventHCMUNRE.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EcoEventHCMUNRE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.TUNHIHP\MSSQL\DATA\EcoEventHCMUNRE_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EcoEventHCMUNRE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EcoEventHCMUNRE]
GO
/****** Object:  Table [dbo].[dang_ky_su_kien]    Script Date: 12/4/2025 9:11:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dang_ky_su_kien](
	[ma_dang_ky] [int] IDENTITY(1,1) NOT NULL,
	[ma_su_kien] [int] NULL,
	[ma_nguoi_dung] [int] NULL,
	[ngay_dang_ky] [datetime] NULL,
	[co_mat] [bit] NULL,
	[duoc_duyet] [bit] NULL,
	[diem_cong] [int] NULL,
	[qr_code] [nvarchar](255) NULL,
	[check_in] [bit] NULL,
	[thoi_gian_checkin] [datetime] NULL,
	[qr_image] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_dang_ky] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [unique_user_event] UNIQUE NONCLUSTERED 
(
	[ma_nguoi_dung] ASC,
	[ma_su_kien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[diem_ren_luyen]    Script Date: 12/4/2025 9:11:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[diem_ren_luyen](
	[ma_diem] [int] IDENTITY(1,1) NOT NULL,
	[ma_nguoi_dung] [int] NULL,
	[hoc_ky] [nvarchar](10) NOT NULL,
	[nam_hoc] [nvarchar](10) NOT NULL,
	[tong_diem] [int] NULL,
	[cap_nhat_cuoi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_diem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[khoa]    Script Date: 12/4/2025 9:11:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[khoa](
	[ma_khoa] [nvarchar](20) NOT NULL,
	[ten_khoa] [nvarchar](100) NOT NULL,
	[mo_ta] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_khoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lich_su_chat]    Script Date: 12/4/2025 9:11:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lich_su_chat](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[message] [nvarchar](max) NULL,
	[sender] [varchar](20) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[messages]    Script Date: 12/4/2025 9:11:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[messages](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ma_nguoi_dung] [int] NOT NULL,
	[noi_dung] [nvarchar](max) NOT NULL,
	[thoi_gian] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nganh]    Script Date: 12/4/2025 9:11:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nganh](
	[ma_nganh] [nvarchar](20) NOT NULL,
	[ten_nganh] [nvarchar](100) NOT NULL,
	[ma_khoa] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_nganh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nguoi_dung]    Script Date: 12/4/2025 9:11:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nguoi_dung](
	[ma_nguoi_dung] [int] IDENTITY(1,1) NOT NULL,
	[ho_ten] [nvarchar](100) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[mat_khau] [nvarchar](255) NOT NULL,
	[vai_tro] [nvarchar](30) NOT NULL,
	[ma_nganh] [nvarchar](20) NULL,
	[ma_khoa] [nvarchar](20) NULL,
	[lop] [nvarchar](30) NULL,
	[sdt] [nvarchar](15) NULL,
	[ngay_tao] [datetime] NULL,
	[otp_code] [int] NULL,
	[otp_expire] [datetime] NULL,
	[is_verified] [bit] NULL,
	[mssv] [varchar](20) NULL,
	[avatar] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_nguoi_dung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[su_kien]    Script Date: 12/4/2025 9:11:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[su_kien](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
	[location] [nvarchar](255) NULL,
	[date] [datetime] NULL,
	[type] [nvarchar](50) NULL,
	[capacity] [int] NULL,
	[attendees] [int] NULL,
	[image] [nvarchar](255) NULL,
	[points] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[thong_bao]    Script Date: 12/4/2025 9:11:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[thong_bao](
	[id_thong_bao] [int] IDENTITY(1,1) NOT NULL,
	[tieu_de] [nvarchar](200) NULL,
	[noi_dung] [nvarchar](max) NULL,
	[id_nguoi_nhan] [int] NOT NULL,
	[id_nguoi_gui] [int] NULL,
	[id_su_kien] [int] NULL,
	[loai_thong_bao] [nvarchar](50) NULL,
	[icon] [nvarchar](50) NULL,
	[thoi_gian_tao] [datetime] NULL,
	[da_doc] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_thong_bao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tin_nhan]    Script Date: 12/4/2025 9:11:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tin_nhan](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ma_nguoi_dung] [int] NOT NULL,
	[noi_dung] [nvarchar](max) NOT NULL,
	[thoi_gian] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[dang_ky_su_kien] ADD  DEFAULT (getdate()) FOR [ngay_dang_ky]
GO
ALTER TABLE [dbo].[dang_ky_su_kien] ADD  DEFAULT ((0)) FOR [co_mat]
GO
ALTER TABLE [dbo].[dang_ky_su_kien] ADD  DEFAULT ((1)) FOR [duoc_duyet]
GO
ALTER TABLE [dbo].[dang_ky_su_kien] ADD  DEFAULT ((0)) FOR [diem_cong]
GO
ALTER TABLE [dbo].[dang_ky_su_kien] ADD  DEFAULT ((0)) FOR [check_in]
GO
ALTER TABLE [dbo].[diem_ren_luyen] ADD  DEFAULT ((0)) FOR [tong_diem]
GO
ALTER TABLE [dbo].[diem_ren_luyen] ADD  DEFAULT (getdate()) FOR [cap_nhat_cuoi]
GO
ALTER TABLE [dbo].[lich_su_chat] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[messages] ADD  DEFAULT (getdate()) FOR [thoi_gian]
GO
ALTER TABLE [dbo].[nguoi_dung] ADD  DEFAULT (getdate()) FOR [ngay_tao]
GO
ALTER TABLE [dbo].[nguoi_dung] ADD  DEFAULT ((0)) FOR [is_verified]
GO
ALTER TABLE [dbo].[su_kien] ADD  DEFAULT ((0)) FOR [points]
GO
ALTER TABLE [dbo].[thong_bao] ADD  DEFAULT (getdate()) FOR [thoi_gian_tao]
GO
ALTER TABLE [dbo].[thong_bao] ADD  DEFAULT ((0)) FOR [da_doc]
GO
ALTER TABLE [dbo].[tin_nhan] ADD  DEFAULT (getdate()) FOR [thoi_gian]
GO
ALTER TABLE [dbo].[dang_ky_su_kien]  WITH CHECK ADD FOREIGN KEY([ma_nguoi_dung])
REFERENCES [dbo].[nguoi_dung] ([ma_nguoi_dung])
GO
ALTER TABLE [dbo].[dang_ky_su_kien]  WITH CHECK ADD  CONSTRAINT [FK_DangKy_SuKien] FOREIGN KEY([ma_su_kien])
REFERENCES [dbo].[su_kien] ([id])
GO
ALTER TABLE [dbo].[dang_ky_su_kien] CHECK CONSTRAINT [FK_DangKy_SuKien]
GO
ALTER TABLE [dbo].[diem_ren_luyen]  WITH CHECK ADD FOREIGN KEY([ma_nguoi_dung])
REFERENCES [dbo].[nguoi_dung] ([ma_nguoi_dung])
GO
ALTER TABLE [dbo].[messages]  WITH CHECK ADD FOREIGN KEY([ma_nguoi_dung])
REFERENCES [dbo].[nguoi_dung] ([ma_nguoi_dung])
GO
ALTER TABLE [dbo].[nganh]  WITH CHECK ADD FOREIGN KEY([ma_khoa])
REFERENCES [dbo].[khoa] ([ma_khoa])
GO
ALTER TABLE [dbo].[nguoi_dung]  WITH CHECK ADD FOREIGN KEY([ma_khoa])
REFERENCES [dbo].[khoa] ([ma_khoa])
GO
ALTER TABLE [dbo].[nguoi_dung]  WITH CHECK ADD FOREIGN KEY([ma_nganh])
REFERENCES [dbo].[nganh] ([ma_nganh])
GO
ALTER TABLE [dbo].[tin_nhan]  WITH CHECK ADD FOREIGN KEY([ma_nguoi_dung])
REFERENCES [dbo].[nguoi_dung] ([ma_nguoi_dung])
GO
USE [master]
GO
