/*.admin-header {
    background: #0f172a;
    padding: 16px 32px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
}*/

/* Logo */
/*.logo {
    font-size: 20px;
    color: #fff;
    font-weight: 700;
}

    .logo span {
        color: #38bdf8;
    }*/

/* Menu */
/*.nav-menu {
    display: flex;
    gap: 28px;
}

    .nav-menu a {
        color: #fff;
        text-decoration: none;
        font-weight: 500;
    }

        .nav-menu a:hover {
            color: #38bdf8;
        }*/

/* Right */
/*.header-right {
    position: relative;
}

.user-trigger {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.avatar-img {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    object-fit: cover;
}

.username {
    color: white;
    font-weight: 500;
}

.arrow {
    opacity: 0.7;
}*/

/* Dropdown */
/*.dropdown {
    position: absolute;
    top: 48px;
    right: 0;
    background: #0f172a;
    border: 1px solid #1e293b;
    border-radius: 12px;
    padding: 12px;
    width: 220px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 8px 24px rgba(0,0,0,0.5);
}

    .dropdown a,
    .logout-btn {
        padding: 10px;
        color: white;
        text-decoration: none;
        border-radius: 8px;
    }

        .dropdown a:hover,
        .logout-btn:hover {
            background: #1e293b;
        }

.logout-btn {
    border: none;
    background: none;
    cursor: pointer;
    text-align: left;
}*/
